.btn-center{
    text-align: center;
    padding-top:10%;
}

.text-center{
    text-align: center;
    padding-top:10%;
}

.startbtn {
    font-size: 30px;
    font-style: italic;
    color: #ffffff;
    border: 5px double #cbffc6;
    border-radius: 20%;
    background: #33475b;
    outline:0;
    text-align: center;
}

.start_title{
    font-size: 100px;
    font-style: normal;
    color: #ffffff;
}